.container{
    width: calc(100% - 1vw - 2vw);
    height: 25px;
    padding: 1.5vh 1vw 1.5vh 2vw;
    background-color: #000012a9;
    position: fixed;
    top: 0;
    display: flex;
    gap: 6vw;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.logo{
    display: flex;
    cursor: pointer;
    gap: 5px;
}
.pink{
    color: #FF2C91;
}
.sections{
    list-style: none;
    display: flex;
    gap: 3vw;
}
.section{
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 500;
}
.section:hover{
    color: #FF2C91;
}
.section a{
    transition: 0.3s ease;
}
.active{
    font-weight: 600;
    color: #FF2C91;
}
.downloadBtn{
    background-color: rgba(0, 0, 0, 0.414);
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    font-size: 12px;
    transition: all 0.5s ease;
}
.downloadBtn svg path{
    transition: all 0.5s ease;
}
.downloadBtn:hover{
    background-color: #FF2C91;
    color: #000012;
}
.downloadBtn:hover svg path{
    stroke: #000012;
}
